<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.iderly"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.iderly.boundary.TitleActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.iderly.boundary.LoginCaregiverActivity"
            android:label="@string/title_activity_login_caregiver" >
        </activity>
        <activity
            android:name="com.iderly.boundary.ForgotPasswordActivity"
            android:label="@string/title_activity_forgot_password" >
        </activity>
        <activity
            android:name="com.iderly.boundary.RegisterCaregiverActivity"
            android:label="@string/title_activity_register_caregiver" >
        </activity>
        <activity
            android:name="com.iderly.boundary.CaregiverHomeActivity"
            android:label="@string/title_activity_caregiver_home" >
        </activity>
        <activity
            android:name="com.iderly.boundary.ElderProfileDetailActivity"
            android:label="@string/title_activity_elder_profile_detail" >
        </activity>
        <activity
            android:name="com.iderly.boundary.AddElderFormActivity"
            android:label="@string/title_activity_add_elder_form" >
        </activity>
        <activity
            android:name="com.iderly.boundary.ElderDetailsActivity"
            android:label="@string/title_activity_elder_details" >
        </activity>
        <activity
            android:name="com.iderly.boundary.ElderPhotoGalleryDetailsActivity"
            android:label="@string/title_activity_elder_photo_gallery_details" >
        </activity>
        <activity
            android:name="com.iderly.boundary.EditElderProfileActivity"
            android:label="@string/title_activity_edit_elder_profile" >
        </activity>
        <activity
            android:name="com.iderly.boundary.ElderPhotoGalleryEditPhotoActivity"
            android:label="@string/title_activity_elder_photo_gallery_edit_photo" >
        </activity>
    </application>

</manifest>
